{% load static %}
<footer class="rodape">
    <div class="rodape__icones">
        <a href="https://github.com/Emanuel855-rgb" target=”_blank” >
            <img src="{% static '/assets/ícones/1x/github.png' %}" class="github-logo" alt="github-logo" style="width: 30px; height: auto;">
        </a>
        <a href="https://www.linkedin.com/in/emanuel-rodrigues-4121202bb" target=”_blank” >
            <img src="{% static '/assets/ícones/1x/linkedin.png' %}" alt="linkedin" style="width: 30px; height: auto;">
        </a>
    </div>
    <p class="rodape__texto">Desenvolvido por Emanuel</p>
</footer>