{% extends 'usuarios/base_usuario.html' %}
{% load static %}
{% block content %}
            </section>
            <section class="galeria" style="margin-left: 5em">
                <form action="{% url 'url_login' %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        {% for campo in formulario.visible_fields %}
                        <div class="col-12 col-lg-12" style="margin-bottom: 10px;">
                            <label for="{{ campo.id_for_label }}" style="color:#D9D9D9; margin-bottom: 5px;">{{ campo.label }}</label>
                            {{ campo }}
                            {% if campo.errors %}
                                <div class="alert alert-danger">{{ campo.errors }}</div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    {% if formulario.non_field_errors %}
                        <div class="alert alert-danger">
                            {{ formulario.non_field_errors }}
                        </div>
                    {% endif %}
                    <div>
                        <button class="btn btn-success col-12" style="padding: top 5px; margin-bottom: 20px;" type="submit">Logar</button> <!-- Adicione margin-bottom -->
                    </div>
                    <div class="social-media-details" style="display: flex; align-items: center;">
                        <h1 style="margin-right: 10px; color: white;">Fazer login com:</h1>
                        <a href="http://127.0.0.1:8000/accounts/github/login/?process=login" target="_blank">
                            <img src="{% static '/assets/ícones/1x/github.png' %}" class="github-logo" alt="github-logo" style="width: 30px; height: auto;">
                        </a>
                    </div>
                </form>
            </section>
        </main>
    </div>
</body>
{% endblock %}
