{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Galeria</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>

<div class="pagina-inicial">
    <header class="cabecalho">
        <img src="{% static '/assets/logo/Logo(2).png' %}" alt="Logo da Alura Space" />
        {% include 'partials/_message.html' %}
        <div class="cabecalho__busca">
            <div class="busca__fundo">
                <form action="{% url 'buscar' %}">
                    <input class="busca__input" type="text" name="campo de busca" placeholder="O que você procura?">
                    <button type="submit">
                        <img class="busca__icone" src="{% static '/assets/ícones/1x/search.png' %}" alt="ícone de search">
                    </button>
                </form>
            </div>
        </div>
    </header>
    <main class="principal">
        <section class="menu-lateral">
            <nav class="menu-lateral__navegacao">
                <a href="{% url 'pag_app1' %}"><img src="{% static '/assets/ícones/1x/Home - ativo.png' %}"> Home</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'url_upload' %}"> <img src="{% static '/assets/ícones/1x/upload(2).png'%}" style="width: 35px; height: auto;"> Upload</a>
                {% else %}
                    <a href="{% url 'url_login' %}"><img src="{% static '/assets/ícones/1x/Mais vistas - inativo.png' %}"> Login</a>
                    <a href="{% url 'url_cadastro' %}"><img src="{% static '/assets/ícones/1x/Novas - inativo.png' %}"> Cadastro</a>
                {% endif %}
            </nav>
        </section>

                <section class="galeria">
                    <div class="cards">
                        {% include 'partials/_categorias_minhas_fotos.html' %}
                        <h2 class="cards__titulo">Suas fotos: </h2>
                        <ul class="cards__lista">
                            {% if cards %}
                            {% for fotografia in cards %}
                            <li class="card">
                                <a href="{% url 'url_imagem_minha_foto' fotografia.id %}">
                                {% if fotografia.foto == "" or fotografia.foto == null %}
                                    <img class="card__imagem" src="{% static '/assets/imagens/galeria/not-found.png'%}" alt="foto">
                                {% else %}
                                    <img class="card__imagem" src="{{ fotografia.foto.url }}" alt="foto">
                                {% endif %}
                                </a>
                                <span class="card__tag">{{ fotografia.get_categoria_display }}</span>
                                <div class="card__info">
                                    <p class="card__titulo">{{fotografia.nome}}</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">{{fotografia.legenda}}</p>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                            {% else %}
                                <div class="imagem__texto">
                                    <p> Você ainda não tem fotos. Que tal começar?</p>
                                </div>
                            {% endif %}
                        </ul>
                    </div>
                </section>
    </main>
</div>
{% include 'partials/_footer.html' %}
   